.ContactHeader {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.Heading {
    letter-spacing: .2rem;
    padding: .5rem;
    border-bottom: 2px solid white;
    text-transform: uppercase;
}