.My_Image {
  width: 20%;
  height: 70%;
  border-radius: 50%;
  margin: 2rem;
  background: url('../Assets/jackie.png');
  background-position: center;
  background-size: cover;
  /* transform: rotate(-90deg); */
}

/* @media only screen and (min-width: 1200px) {
    .My_Image {
      width: 20%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .My_Image {
      width: 35%;
    }
}

@media only screen and (max-width: 600px) {
    .My_Image {
      width: 50%;
      border-radius: 30%;
    }
} */