.Project_Body {
    height: 80%;
    width: 70%;
    background-color: white;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.Project_Description {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.Project_Name {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satisfy', cursive;
    margin: 0;
}

.Button_Container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}