.App {
  text-align: center;
}

/*
  PAGE STYLES
*/

.Page {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.Center {
  justify-content: center;
  align-items: center;
}

.Top {
  align-items: center;
}

.Header {
  height: 15%;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
}

.Header_Name {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.Header_Description {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.Nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 50%;
  height: 10%;
}

.Nav_Link {
  color: white;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.Nav_Link:hover .hover_animate {
  transform: scaleY(1);
}

.Nav_Link:hover {
  color: black;
}

.NavLink:hover .link_text {
  color: black;
}

.link_text {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover_animate {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: white;
  z-index: 1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: top;
}

.hover_animate:nth-child(2) {
  left: 25%;
  transition-delay: 0.15s;
}

.hover_animate:nth-child(3) {
  left: 50%;
  transition-delay: 0.3s;
}

.hover_animate:nth-child(4) {
  left: 75%;
  transition-delay: 0.45s;
}



/*
  ANIMATION COMPONENT
*/
.Animation_Container {
  height: 20%;
  width: 50%;
  position: relative;
  border: 3px solid yellow;
  overflow: hidden;
}

.Streaks {
  list-style: none;
}

.Streak {
  position: relative;
  border-radius: 2px;
  width: 80px;
  height: 2px;
  overflow: hidden;
  transform: rotate(-20deg);
}

.Streak::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, 
    rgba(255, 255, 255, 0.4) 100%);
  left: 100%;
  animation: streak 3.6s linear infinite;
}

.Streak:nth-child(1) {
  top: 10px;
  left: 30px;
}

.Streak:nth-child(2) {
  top: 100px;
  left: 150px;
 }

.Streak:nth-child(2):after {
  animation-delay: 1.2s;
}

.Streak:nth-child(3) {
  top: 20px;
  left: 15px;
}

.Streak:nth-child(3):after {
  animation-delay: 4s;
}

.Streak:nth-child(4) {
  top: 20px;
  left: 200px;
 }

 .Streak:nth-child(4):after {
  animation-delay: 1.7s;
}

@keyframes streak {
  20% {
    left: -100%;
  }
  
  100% {
    left: -100%;
  }
}

/*
  Second Animation
*/
.Box_Animation_Container {
  height: 30%;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}

.Box {
  width: 20px;
  height: 20px;
  background-color: white;
  margin: .2rem;
}

/*
  Third go
*/

.Home_Logo {
  height: 30%;
  width: 30%;
}

.Highlight {
  color: #731DD8;
}

.Highlight_1 {
  color: #FFE74C;
}

/*
  ABOUT component styles
*/
.My_Image {
  width: 15%;
  height: 20%;
  border-radius: 50%;
  margin: 4rem;
  background: url('./Assets/me2.png');
  background-position: center;
  background-size: cover;
}

.My_Description {
  overflow: auto;
  height: 40%;
  width: 50%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/*
  MEDIA QUERIES
*/

@media only screen and (max-width: 1400px) {
  .Header_Name {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  .Header_Name {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .Header_Name {
    font-size: 2rem;
  }

  .Home_Logo {
    width: 60%;
    height: 30%;
  }

  .Header {
    width: 80%;
  }

  .Nav {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .Header_Name {
    font-size: 1.5rem;
  }

  .Header_Description {
    font-size: 1rem;
  }

  .Nav_Link {
    font-size: .9rem;
  }
}